openapi: "3.0.0"
info:
  title: "Leivalle API"
  description: "Use this API"
  version: "0.1"
  contact:
    name: "Leivalle API"
    url: "https://www.leivalle.org"
    email: "anton.rautio@gmail.com"
servers:
  - url: "http://api.leivalle.org"
    description: "Production API"
paths:
  /fine:
    post:
      tags:
      - New fine
      summary: "Create new fines."
      description: "Create new fines to the database."
      operationId: CreateEntities
      requestBody:
        description: Fine body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fine'
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                title: Fine created
                type: object
                $ref: '#/components/schemas/Fine'
        404:
          $ref: '#/components/responses/NotFound'
  /fine/{fineId}:
    get:
      tags:
      - Read Fine
      summary: "Read fines."
      description: "Read fines from the database."
      operationId: ReadEntities
      parameters:
      - name: fineId
        in: path
        description: "**Fine id** *Example: 1*"
        required: true
        schema:
          type: string
          minimum: 1
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                title: Fine found
                type: object
                $ref: '#/components/schemas/Fine'
        404: 
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Update fines
      summary: "Update fines."
      description: "Update fines in the database."
      operationId: UpdateEntities
      parameters:
      - name: fineId
        in: path
        description: "**Fine id** *Example: 1*"
        required: true
        schema:
          type: string
          minimum: 1
      requestBody:
        description: Fine body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fine'
            example:
              id: 123
              name: Anton
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                title: Fine updated
                type: object
                $ref: '#/components/schemas/Fine'
        404:
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Delete fines
      summary: "Delete fines."
      description: "Delete fines from the database."
      operationId: DeleteEntities
      parameters:
      - name: fineId
        in: path
        description: "**Fine id** *Example: 1*"
        required: true
        schema:
          type: string
          minimum: 1
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                title: Fine deleted
                type: object
                $ref: '#/components/schemas/Fine'
        404:
          $ref: '#/components/responses/NotFound'
  /fines:
    get:
      tags:
      - Get all fines
      summary: "Get all fines"
      operationId: GetEntities
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fine'
        404:
          $ref: '#/components/responses/NotFound'
  /test:
    get:
      tags:
      - For testing purposes
      summary: "For testing purposes"
      operationId: TestOne
      responses:
        200:
          content:
            text/plain:
              schema:
                type: string
components:
  schemas:
    Fine:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      required:
        - id
        - name
    Error:
      type: object
      properties:
        status:
          type: integer
        message:
          type: string
      required:
        - status
        - message
  responses:
    NotFound:
      description: The specified fine was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
