openapi: "3.0.0"
info:
  title: "Leivalle API"
  description: "Use this API"
  version: "0.1"
  contact:
    name: "Leivalle API"
    url: "https://www.leivalle.org"
    email: "anton.rautio@gmail.com"
servers:
  - url: "https://api.leivalle.org"
    description: "Production API"
paths:
  /entity/create:
    post:
      tags:
      - New entity
      summary: "Create new entities."
      description: "Create new entities to the database."
      operationId: CreateEntities
      requestBody:
        description: Entity body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                title: Entity created
                type: object
                properties:
                  placeholder:
                    type: string
                    description: Placeholder description
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Entity not found
                type: string
                example: Not found
  /entity/{entityId}:
    get:
      tags:
      - Read Entity
      summary: "Read entities."
      description: "Read entities from the database."
      operationId: ReadEntities
      parameters:
      - name: entityId
        in: path
        description: "**Entity id** *Example: 1*"
        required: true
        schema:
          type: integer
          minimum: 1
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                title: Entity found
                type: object
                properties:
                  placeholder:
                    type: string
                    description: Placeholder description
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Entity not found
                type: string
                example: Not found
  /entity/{entityId}:
    put:
      tags:
      - Update entities
      summary: "Update entities."
      description: "Update entities in the database."
      operationId: UpdateEntities
      parameters:
      - name: entityId
        in: path
        description: "**Entity id** *Example: 1*"
        required: true
        schema:
          type: integer
          minimum: 1
      requestBody:
        description: Entity body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                title: Entity updated
                type: object
                properties:
                  placeholder:
                    type: string
                    description: Placeholder description
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Entity not found
                type: string
                example: Not found
  /entity/{entityId}:
    delete:
      tags:
      - Delete entities
      summary: "Delete entities."
      description: "Delete entities from the database."
      operationId: DeleteEntities
      parameters:
      - name: entityId
        in: path
        description: "**Entity id** *Example: 1*"
        required: true
        schema:
          type: integer
          minimum: 1
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                title: Entity deleted
                type: object
                properties:
                  placeholder:
                    type: string
                    description: Placeholder description
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Entity not found
                type: string
                example: Not found
components:
  schemas:
    Entity:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string